extends basic

block content

    nav(class='navbar navbar-default navbar-fixed-top')
        div(class="navbar-header")
            a(href="https://echarts.apache.org/en/index.html" class="navbar-brand")
                img(src="https://echarts.apache.org/en/images/logo.png" alt="echarts logo" class="navbar-logo")
        ul(class="nav navbar-nav navbar-right")
            li(id="nav-apache")
                a(href="https://www.apache.org/" target="_blank" style="padding:5px 20px")
                    img(src="https://echarts.apache.org/en/images/apache-incubator-white.png" height="39px")

    block inner_content
